# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

## Meus: yudi-azvd

.vscode/settings

*.log.md

00-revisao/ansiedade
00-revisao/conta-sete
00-revisao/cursor
00-revisao/eof
00-revisao/frequencia
00-revisao/ola-mundo
00-revisao/reprovado
00-revisao/soma-2
00-revisao/soma-n
00-revisao/soma-string
00-revisao/ultrapassa

01-sorting/main
01-sorting/merge_test
01-sorting/moj-lista-mergesort/intercala
01-sorting/moj-lista-mergesort/mergesort2
01-sorting/moj-lista-ordenacao-elementar/improvedinsertionsort
01-sorting/moj-lista-ordenacao-elementar/pesquisa
01-sorting/benchmark-ordenacao/time.aleatorio

tmp
